* {
	margin: 0;
	font-family: sans-serif;
}

nav {
	height: 100px;
	background-color: lightblue;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
	text-align: center;
}

input {
	width: 100%;
	outline: solid 1px;
	text-align: center;
	font-size: 1.2em;
}

.heading {
	text-align: center;
	margin: 50px 0;
}

.filters {
	width: 80%;
	margin: auto;
	padding-left: 170px;
}

.filters p {
	width: 100px;
	display: inline-block;
}

.filters button {
	width: 100px;
}

.table {
	display: grid;
	/* add-del-btn is 20px, update btn is 60px, all other columns are 1fr */
	grid-template-columns: 20px 60px repeat(10, 1fr);
	margin: 0 auto 50px;
	width: 80%;
	text-align: center;
}

.title {
	background-color: lightgray;
	outline: solid 1px;
	font-size: 1.2em;
}

/* Sale and Owner styles */

.create-components {
	display: flex;
	justify-content: space-around;
	text-align: center;

}

.create-componets {
}

.create-wrapper {
}

.owner-wrapper {
}

.comp-heading {
	background-color: lightblue;
}

.sale-table {
	display: grid;
	grid-template-columns: 20px 60px repeat(4, 120px);
}

select option {
	text-align: center;
}
